.container {
    width: 100%;
}

.full-container {
    width: 1024px;
    margin: 0 auto;
}

.bookmarklet-container {
    width: 500px;
    padding: 0 10px;
    margin: 0 auto;
}

.bookmarklet-container textarea,
.bookmarklet-container input {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.bookmarklet-container .snippet {
    height: 100px;
}

.bookmarklet-container .post-text {
    height: 90px;
}

.bookmarklet-container form,
.bookmarklet-container form .form-actions{
    margin-bottom: 0;
}

.bookmarklet-container form .form-actions {
    padding: 9px 10px 10px;
}

.image-respond img {
    max-width: 90%;
}

.no-top-space {
    margin-top: 0;
}

.embed-carousel {
    height: 140px;
}

.post-display {
    height: 100%;
}


.post-display li .inside {
    background-color: #eee;
    margin: 5px;
    padding-top: 10px;
}

.post-display li blockquote {
    word-wrap: break-word;
    font-size: 80%;
    border: 0;
}

.post-display .img-container {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 1%;
    border: 1px solid #eee;
    text-align: center;
    vertical-align: middle;
}

.post-display li img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

.embed-carousel-item {
    height: 105px;
    overflow: scroll;
}

.form-actions {
    margin-top: 0;
    padding: 4px 5px 5px;
}

legend {
    margin-bottom: 0;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}