<html>
    <head>
        <title>Share on ADN</title>
        {% assets "css_all" %}
            <link rel="stylesheet" type="text/css" href=".{{ ASSET_URL }}">
        {% endassets %}
    </head>
    <body>
        <div class='container'></div>
        <!-- templates -->
        <script type='javascript/template' data-name='index'>
            <div class='full-container'>
                <div class='hero-unit'>
                    <h1>Share links on App.net</h1>
                    <br>
                    {% assets 'bookmarklet' %}
                    <p>Drag this bookmarklet <a class='btn btn-primary' href="javascript:void((function()%7BSADN_ROOT='{{ROOT_URL}}';var%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src',SADN_ROOT + '{{ ASSET_URL }}?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">Share on ADN</a> to your bookmarklet bar.</p>
                    {% endassets %}
                    <p><small>The first time you use the bookmarklet you will need to authenticate this app.</small></p>
                </div>
            </div>
        </script>
        <script type='javascript/template' data-name='auth'>
            <div class='bookmarklet-container'>
                <h1>Before you share that link</h1>
                <p>Please authorize this app. It will send you right back here and the sharing process will begin.</p>
                <% if (error) { %>
                    <div class="alert">
                        <p><strong>Ooops!</strong> There was an error durring authorization: <%= error_description %><br>
                        Let <a href='http://alpha.app.net/voidfiles'>@voidfiles</a> know about it</p>
                    </div>
                <% } %>
                <p><a class='btn btn-success' href='<%= oauth_authorize_url %>'>Authorize</a></p>
            </div>
        </script>
        <script type='javascript/template' data-name='post'>
            <div class='bookmarklet-container'>
                <form>
                    <legend>Post this link to App.net</legend>
                    <label>Post Text (<span class='js-char-count'>250</span>)</label>
                    <textarea class='js-post-text post-text' name='post_text'></textarea>
                    <div class='js-embed-carousel embed-carousel'>
                        <span class="help-block">
                            <span><strong>Clip to be stored on the post</strong></span>
                            <span class='help-block pull-right hide js-embed-carousel-nav'>
                                <a href='#prev' title='Previous Embed' class='js-embed-carousel-left'><i class='icon-arrow-left'></i></a>
                                &nbsp;
                                <a href='#next' title='Next Embed' class='js-embed-carousel-right'><i class='icon-arrow-right'></i></a>
                            </span>
                        </span>
                        <div class='embed-carousel js-embed-carousel-item-container'>
                            <div class='embed-carousel-item js-embed-carousel-item' data-source='form'>
                                <label>User Selected Snippet</label>
                                <textarea class='js-snippet snippet' name='snippet'></textarea>
                                <label>Link</label>
                                <input class='js-link' name='link'>
                                <label>Title</label>
                                <input class='js-title' name='title'>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <a href='#' class="btn btn-primary js-post-to-adn">Post</a>
                        <a href='#' class="btn btn-link js-cancel-post pull-right">Cancel</a>
                    </div>
                </form>
            </div>
        </script>
        <script type='javascript/template' data-name='embed-carousel-item'>
            <div class='embed-carousel-item hide js-embed-carousel-item' data-source='embed'>
                <label>Embed</label>
                <div class='yui3-g'>
                    <div class='yui3-u-3-4'>
                        <h3 class='no-top-space'><%= embed.title %></h3>
                        <p><%= embed.description %></p>
                    </div>
                    <div class='yui3-u-1-4'>
                        <img src='<%= embed.thumbnail_url %>'>
                    </div>
                <div>
            </div>
        </script>
        <!-- scripts -->
        <script type="text/javascript">
            var OPTIONS = {
                client_id: 'YuEDAB8MrwcrJbP3yxc8nDqdMwZNdR6M',
                callback_uri: "{{ ROOT_URL }}/index.html?view=post"
            };
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        {% assets "js_all" %}
            <script type="text/javascript" src=".{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
